body {
  background-color: #fff;
  color: #444;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;
  text-decoration: none;

  &:visited {
  }

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  padding: 6px 12px;
  -webkit-appearance: none;
}

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  font-size: 1.1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  margin-top: 1em;
  padding: 8px 35px 8px 14px;
  color: green;
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6efc6;
  font-size: 16px;
  border-left: 6px solid #52E052;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
